<mat-card>
  <mat-nav-list>
    <mat-list-item *ngFor="let contact of contacts">
      <h4 mat-line>{{ contact.name }}</h4>
      <p mat-line>{{ contact.number }}</p>

      <mat-slide-toggle [checked]="contact.popular"
        (change)="contact.popular = !contact.popular"
        matTooltip="Popular" matTooltipPosition="above">
      </mat-slide-toggle>
      <button mat-icon-button (click)="delete(contact)"
        matTooltip="Delete Contact" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<button mat-fab (click)="add()"
  matTooltip="Add Contact" matTooltipPosition="above">
  <mat-icon>add</mat-icon>
</button>
